# Feature Flags
NEXT_PUBLIC_AI_ADVISOR_ENABLED=false
NEXT_PUBLIC_PERSONALIZATION_ENABLED=false
NEXT_PUBLIC_RECOMMENDATION_ORCHESTRATION_ENABLED=false
NEXT_PUBLIC_COMMERCE_OS_ENABLED=false
NEXT_PUBLIC_SEMANTIC_GRAPHS_ENABLED=false
NEXT_PUBLIC_SEO_INTELLIGENCE_ENABLED=false
NEXT_PUBLIC_LIVE_FEED_INGESTION_ENABLED=false
NEXT_PUBLIC_REAL_TIME_DATA_ENABLED=false
NEXT_PUBLIC_CHAT_UI_ENABLED=false
NEXT_PUBLIC_COMPARISON_UI_ENABLED=false
NEXT_PUBLIC_STREAMING_RENDERING_ENABLED=false
NEXT_PUBLIC_LAZY_LOADING_ENABLED=false
NEXT_PUBLIC_DEBUG_MODE_ENABLED=false
NEXT_PUBLIC_PRODUCTION_LOGGING_ENABLED=true
